<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krunal Fried Chicken - Menu</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
</head>

<body>
    <%- include('navbar', { cartQuantityMap: cartQuantityMap, userId: userId }) %>

        <!-- Main Content -->
        <div class="main-content">
            <h2>Our Menu</h2>
            <div class="products">
                <% products.forEach(product=> { %>
                    <div class="product">
                        <% if (product.image_url) { %>
                            <img src="<%= product.image_url %>" alt="<%= product.name %> image" class="product-image">
                            <% } else { %>
                                <img src="https://gebelesebeti.ge/front/asset/img/default-product.png"
                                    alt="Default product image" class="product-image">
                                <% } %>

                                    <h2 class="product-name">
                                        <%= product.name %>
                                    </h2>
                                    <p class="product-price">Price: AED <%= product.price %>
                                    </p>
                                    <div class="product-quantity-controls">
                                        <form action="/update-cart" method="POST" class="quantity-form">
                                            <input type="hidden" name="productId" value="<%= product.id %>">
                                            <input type="hidden" name="action" value="decrease">
                                            <button type="submit" class="quantity-btn">-</button>
                                        </form>

                                        <span class="quantity-value">
                                            <%= cartQuantityMap[product.id] || 0 %>
                                        </span>

                                        <form action="/update-cart" method="POST" class="quantity-form">
                                            <input type="hidden" name="productId" value="<%= product.id %>">
                                            <input type="hidden" name="action" value="increase">
                                            <button type="submit" class="quantity-btn">+</button>
                                        </form>
                                    </div>
                    </div>
                    <% }); %>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer">
            <p>&copy; 2024 Krunal Fried Chicken. All rights reserved.</p>
        </footer>
</body>

</html>