<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <title>User Profile</title>
</head>

<body>
    <div class="navbar">
        <div class="navbar-logo">
            <h1>Krunal Fried Chicken</h1>
        </div>
        <div class="navbar-links">
            <a href="/">Home</a>
            <a href="/cart">Cart</a>
            <a href="/profile?userId=<%= userId %>">Profile</a>
            <a href="/logout" class="logout-link">Logout</a>
        </div>
    </div>

    <div class="profile-container">
        <div class="profile-box">
            <h1>User Profile</h1>
            <div class="profile-details">
                <h2>Personal Information</h2>
                <form id="profile-form" action="/update-profile" method="POST">
                    <p><strong>First Name:</strong>
                        <input type="text" name="firstName" value="<%= user.first_name %>" required>
                    </p>
                    <p><strong>Last Name:</strong>
                        <input type="text" name="lastName" value="<%= user.last_name %>" required>
                    </p>
                    <p><strong>Email:</strong>
                        <%= user.email %>
                    </p>

                    <h2>Address</h2>
                    <p><strong>Address:</strong>
                        <input type="text" name="address" value="<%= user.address %>" required>
                    </p>
                    <p><strong>City:</strong>
                        <input type="text" name="city" value="<%= user.city  %>" required>
                    </p>
                    <button type="submit" class="update-btn">Update Profile</button>
                </form>
            </div>
            <a href="/logout" class="logout-btn">Logout</a>
        </div>
    </div>
</body>

</html>
